doctype html
html
  head
    title Inventory | #{title}
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
      nav.nav
        div.nav__title
          a(href="/") Instruments inventory
        div.nav__links
          ul
            li
              a(href='/instrument') Instruments
            li
              a(href='/product') Products
        div.add-item
          button.add-item__button +

      main.main
        block content

