extends ../layout

block content
  h1= title
  p Here is a list of all the families of instrument that we are currently stocking.

  if family_list.length

    ul
    each family in family_list
      li
        a(href=family.url) #{family.name}

  else 

   h4 No instrument families could be found!
